<div> <h2>Breaking NEWS</h2><br><br> <form ng-submit="addNews()"> <div class="form-group"> <label for="title">News Heading:</label> <input type="text" class="form-control" id="newstitle" ng-model="newsTitle" placeholder="Enter News Title"> </div> <div class="form-group"> <label for="url">News Link:</label> <input type="text" class="form-control" id="newsUrl" ng-model="link" placeholder="place Url Here"> </div> <div class="form-group"> <label for="discription">News Discription:</label> <textarea type="text" class="form-control" id="newsdiscription" ng-model="newsDiscription" placeholder="Enter Discription Here">
    </div>
    <button type="submit" ng-submit="addNews" class="btn btn-default">Submit</button>
  </form>
</div>